streamlit==1.38.0
pillow==10.4.0
numpy==1.26.4
pandas==2.2.2
opencv-python-headless==4.10.0.84
plotly==5.24.0
streamlit-plotly-events==0.0.6
streamlit-image-coordinates
streamlit-image-coordinates==0.1.5
